@import './variables.scss';

@mixin FC{
    display: flex; 
    flex-direction: column;
}

@mixin FR{
    display: flex;
    flex-direction: row;
}

@mixin fullWidth{
    width: 100%;
}

@mixin center{
    margin-left: auto;
    margin-right: auto; 
}

@mixin mobile-only{
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breapoints, desktop)){
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}