@import './mixins';

.insideModal_wrapper{
    @include FC;

    @include mobile-only{
        @include fullWidth;
    }
}

.lil_container{
    @include FR;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.txt_create{
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    
}

.imgToDisplay_container{
    width: 90%;
    height: 200px;
    @include center;
    overflow: hidden;
}

.imgToDisplay{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#description{
    height: 150px;
    border: solid black 2px;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 50%;
}

#post{
    @include center;
    display: flex; 
    width: auto;
    font-weight: bold; 
    cursor: pointer; 
    text-align: center;
    border-radius: 5px;
    border: none;
    padding: 4px 8px 4px 8px;
    background: #F4BFBF;
    transition: 0.75s;
    margin-top: 5px;
    color: white;

    &:hover{
        background: darken(#F4BFBF, 20%);
        transition: 0.75s;
    }
}

#image{
    margin-bottom: 20px;
}

#objectTitle{
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
    width: 50%;
}