@import './mixins';

.inside_container{
    @include FC;
}

.txt_create{
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    
}

.imgToDisplay_container{
    width: 90%;
    height: 200px;
    @include center;
    overflow: hidden;
}

.imgToDisplay{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#description{
    height: 150px;
    border: solid black 2px;
    margin-bottom: 10px;
    border-radius: 15px;
}