@import './mixins';

.overlay{
    width: 40%;
    margin: auto;
    margin-top: 7%;
    @include FC;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0.2px rgba(0,0,0,0.2);
    padding: 5px;
    background-color: white;

    @include tablet{
        width: 60%;
    }

    @include mobile-only{
        width: 80%;
    }
}

.modal_container{
    background-color: rgba(0,0,0,0.75);
    z-index: 500;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    @include FC;

   
}

.modal_header{
    @include FC;
    align-self: center;
    font-weight: bold; 
    font-size: 26px;
    margin-bottom: 20px;
   
}


.modal_body{
    @include FC;
    width: 50%;
    @include center;
   margin-bottom: 10px;

   @include tablet{
    width: 90%;
   }

   @include mobile-only{
    @include fullWidth
    }
}


.modal_footer{
    @include FC;
    justify-content: flex-start;
    width: 50%;
   @include center; 
    
}

#cancel{
    @include center;
    display: flex; 
    width: auto;
    font-weight: bold; 
    cursor: pointer; 
    text-align: center;
    border-radius: 5px;
    border: none;
    padding: 4px 8px 4px 8px;
    background: red;
    transition: 0.75s;
    margin-top: 5px;
    color: white;

    &:hover{
        background: lighten(red, 10%);
        transition: 0.75s;
    }
}