@import './mixins';

.overlay{
    width: 50%;
    margin: auto;
    margin-top: 10%;
    @include FC;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0.2px rgba(0,0,0,0.2);
    padding: 5px;
    background-color: white;
}

.modal_container{
    background-color: rgba(0,0,0,0.25);
    z-index: 500;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    @include FC;
}

.modal_header{
    @include FC;
    align-self: center;
    font-weight: bold; 
    font-size: 26px;
    margin-bottom: 20px;
}


.modal_body{
    @include FC;
    width: 50%;
    @include center;
   margin-bottom: 10px;
}


.modal_footer{
    @include FC;
    justify-content: flex-start;
    width: 50%;
   @include center; 
    
}